#button-form {
  background-color: greenyellow;
  color: black;
  border: none;

  margin-right: 20px;
}

#a-form {
  display:inline-block;
  text-decoration:none;
  padding:9px 15px;
  height: 36px;
  border: none;
  background-color:#5f5a5a;
  color:white;
  font:15px arial, sans-serif;
  border-radius: 5px;
}